.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, .38);
  border-color: transparent;
  position: fixed;
  width: 100%;
  color: yellow;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
  color: #555;
  background-color: none;
}
